notion-pages/
posts/
.env
.vscode/
# required for github-actions see: https://docs.github.com/en/actions/creating-actions/creating-a-javascript-action#commit-tag-and-push-your-action-to-github
# node_modules
